/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 0;
}

.hidden {
    display: none;
}

.no-display {
    visibility: hidden;
    position: fixed;
}

.centered {
    margin: 0 auto;
}

.bg-drag {
    background-color: rgba(255, 0, 80, 0.7);
}

/* Header & Game Area */
header {
    max-width: 900px;
}

#game {
    display: grid;
    max-width: 900px;
    grid-template-columns: auto auto;
    gap: 20px;
}

/* Diagram & Drop Areas */
#diagram {
    grid-column: 1/-1;
    position: relative;
}

#diagram img {
    max-width: 100%;
}

#diagram > div {
    position: absolute;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 2;
}

#heart {
    width: 15%;
    height: 20%;
    inset: 35% 50%;
}

#lung {
    width: 15%;
    height: 20%;
    inset: 35% 32%;
}

#liver {
    width: 17%;
    height: 8%;
    inset: 56% 34%;
}

#stomach {
    width: 10%;
    height: 13%;
    inset: 56% 52%;
}

#intestines {
    width: 28%;
    height: 18%;
    inset: 70% 35%;
}


/* Labels Area */
#labels {
    grid-column: 1/-1;
    display: grid;
    row-gap: 10px;
    width: 248px;
    min-height: 300px;
    order: -1;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

#labels h3 {
    grid-column: 1/-1;
    order: -1;
    margin: 0;
}

.label-title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 42px;
    background-color: rgb(0, 128, 255);
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.label-title:hover {
    background-color: rgb(0, 102, 204);
}


button {
    grid-column: 1/-1;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 20px;
    max-height: 50px;
    margin: 10px auto 0;
    background-color: rgb(255, 148, 0);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    order: 10;
}

button:hover {
    background-color: rgb(215, 125, 0);
}

/* Responsive */
@media screen and (min-width: 768px) {
    #diagram {
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    #labels {
        grid-column: 2/3;
        grid-row: 1/-1;
        padding-bottom: 70%;
    }

}