/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 0;
}

.hidden {
    display: none;
}

.no-display {
    visibility: hidden;
    position: fixed;
}

.centered {
    margin: 0 auto;
}

.bg-drag {
    background-color: rgba(255, 0, 80, 0.7);
}

.label-inc {
    background-color: rgb(85, 85, 85) !important;
    border: 2px solid white;
}

/* Header & Game Area */
header {
    max-width: 900px;
}

#game {
    display: grid;
    max-width: 900px;
    grid-template-columns: auto auto;
    gap: 20px;
}

/* Diagram & Drop Areas */
#diagram {
    grid-column: 1/-1;
    position: relative;
}

#diagram img {
    max-width: 100%;
}

.target-zone {
    position: absolute;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 2;
}

#heart {
    width: 15%;
    height: 20%;
    inset: 35% 50%;
}

#lung {
    width: 15%;
    height: 20%;
    inset: 35% 32%;
}

#liver {
    width: 17%;
    height: 8%;
    inset: 56% 34%;
}

#stomach {
    width: 10%;
    height: 13%;
    inset: 56% 52%;
}

#intestines {
    width: 28%;
    height: 18%;
    inset: 70% 35%;
}


/* Labels Area */
#label-con {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: auto auto auto;
    align-items: end;
    gap: 20px;
    width: 350px;
    order: -1;
    padding: 10px;
    border: 2px solid black;
}

#label-con h3 {
    grid-column: 1/2;
    grid-row: 1/1;
    order: -1;
    margin: 0;
    text-align: left;
}

#labels {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#labels .label-title {
    margin: 5px;
}

#labels .label-title:hover {
    transform: translateY(-2px);
}

.label-title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 84px;
    max-height: 42px;
    background-color: rgb(0, 128, 255);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
    cursor: grab;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: 0.2s background-color linear;
    transition: 0.2s transform linear;
}

.label-title:hover {
    background-color: rgb(0, 102, 204);
}

.target-zone .label-title {
    border-radius: 0;
    border: 2px solid white;
}



button {
    grid-column: 1/-1;
    border: none;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    order: 10;
    transition: 0.2s background-color linear;
}

#reset-btn {
    background-color: rgb(255, 148, 0);
}

#reset-btn:hover {
    background-color: rgb(215, 125, 0);
}

#submit-btn {
    background-color: rgb(60, 215, 0);
}

#submit-btn:hover {
    background-color: rgb(20, 170, 0);
}


/* Responsive */
@media screen and (max-width: 768px) {
    .small-btn {
        justify-self: end;
        grid-column: 3/4;
        background-color: transparent;
        font-size: 16px;
        margin: 0;
        order: 0;
    }

    #reset-btn.small-btn {
        color: rgb(255, 148, 0);
        background-color: transparent;
    }

    #reset-btn.small-btn:hover {
        background-color: transparent;
    }
}

@media screen and (min-width: 768px) {
    #diagram {
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    #label-con {
        align-content: start;
        width: 220px;
        grid-column: 2/3;
        grid-row: 1/-1;
    }

    #label-con h3 {
        grid-column: 1/-1;
    }

    #labels .label-title {
        height: 28px;
        width: 100%;
    }

    button {
        width: 80%;
        padding: 5px 10px;
        margin:  0 auto;
    }

    #reset-btn {
        grid-row: 4;
    }

    #submit-btn {
        grid-row: 3; 
    }
}